Source: java-oq
Section: java
Priority: optional
Maintainer: Muharem Hrnjadovic <Muharem Hrnjadovic <mh@foldr3.com>>
Build-Depends: debhelper (>> 7), javahelper (>= 0.32) 
Build-Depends-Indep: default-jdk, libopenshalite-java, libjredis-java, libgson-java, libcommons-logging-java, libcommons-math-java, libdom4j-java, libcommons-configuration-java, libcommons-io-java, libcommons-collections-java, libcommons-lang-java
Standards-Version: 3.9.1
Homepage: http://openquake.org/

Package: java-oq
Architecture: all
Depends: ${java:Depends}, ${misc:Depends}
Description: The OpenQuake java library
 The OpenQuake java library, please see http://openquake.org/
