#!/usr/bin/make -f

export JAVA_HOME=/usr/lib/jvm/default-java
export CLASSPATH=/usr/share/java/commons-math.jar:/usr/share/java/dom4j.jar:/usr/share/java/commons-lang.jar

# Put depended upon jars in here
# export CLASSPATH=

%:
	dh --with javahelper $@

