Source: python-oq
Section: python
Priority: extra
Maintainer: Muharem Hrnjadovic <mh@foldr3.com>
Build-Depends: debhelper (>= 7.0.50~), python-support, python (>=2.6), python-setuptools
Standards-Version: 3.9.1
Homepage: http://openquake.org/
#Vcs-Git: git://git.debian.org/collab-maint/oqp.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/oqp.git;a=summary

Package: python-oq
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python (>=2.6), fabric, libgson-java, libjredis-java, libopenshalite-java, python-celery, python-gdal, python-geohash, python-gflags, python-jpype, python-lxml, python-matplotlib, python-numpy, python-paramiko, python-redis, python-scipy, python-shapely, python-guppy, python-geoalchemy, python-psycopg2, java-oq (>=0.4.1)
Recommends: rabbitmq-server, redis-server, postgresql-8.4, postgresql-client
Description: computes hazard, risk and socio-economic impact of earthquakes
 OpenQuake is an open source application that allows users to compute
 seismic hazard, seismic risk and socio-economic impact of earthquakes
 on a global scale.
