Source: python-celery
Section: python
Priority: extra
Maintainer: Muharem Hrnjadovic <mh@foldr3.com>
Build-Depends: debhelper (>= 7.0.50~), python (>=2.6), python-setuptools, python-sphinx, python-kombu (>= 1.2.1)
Standards-Version: 3.9.2
Homepage: http://celeryproject.org
#Vcs-Git: git://git.debian.org/collab-maint/celery.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/celery.git;a=summary

Package: python-celery
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python-pyparsing (>= 1.5), python-dateutil (>= 1.5), python-dateutil (<< 2.0~), python-kombu (>= 1.2.1), python-anyjson (>= 0.3.1)
Description: A distributed task queue
 Celery is an open source asynchronous task queue/job queue based on
 distributed message passing.  It is focused on real-time operation,
 but supports scheduling as well.
 .
 Please see http://celeryproject.org/
